fastapi>=0.103.0
uvicorn[standard]>=0.23.0
websockets>=11.0.3
python-multipart>=0.0.6
apscheduler>=3.10.0
SQLAlchemy>=2.0
cryptography>=42.0
ffmpeg-python>=0.2.0
yt-dlp>=2023.10.13
pydub>=0.25.1
Pillow>=10.0.0
ffmpeg-normalize>=1.27.0
requests>=2.31.0
packaging>=23.0
